.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header img {
  width: 140px;
  height: 40px;
}

.header img:hover {
  width: 150px;
  height: 40px;
  transition: 800ms;
}

.header-menu {
  display: flex;
  gap: 60px;
  justify-content: right;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.header-menu a {
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--cor-a);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 620px) {
  .header-menu {
    display: flex;
    gap: 18px;
    justify-content: right;
    font-size: 0.3rem;
    text-transform: uppercase;
  }
  .header-menu a:hover:after {
    width: 0%;
  }
}
@media (max-width: 620px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .header ul {
    margin-right: 10px;
  }
}