.inicial {
  text-align: right;
  margin-top: 120px;
}

.inicial h2 {
  font-size: 3rem;
  margin: 0 0 1.5rem 0px;
}

.inicial p {
  font-size: 1rem;
}

@media (max-width: 620px) {
  .header-menu {
    display: flex;
    gap: 18px;
    justify-content: right;
    font-size: 0.3rem;
    text-transform: uppercase;
  }
  .header-menu a:hover:after {
    width: 0%;
  }
}