header {
  padding: 0 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 80px;
}

.logo {
  width: 300px; 
  height: 90px;
}

.header a {
  color: black;
  text-decoration: none;
  margin: 0px;
  padding: 5px;
}

nav {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 3rem;
  padding: 1rem;
  justify-items: center;
}

.header-menu a:hover {
  border-bottom: 2px solid black;
}

.header-redes {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0px 10px;
}

.header-redes img {
  width: 25px;
  height: 25px;
}