.roteiro-viagem {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.roteiros,
.seguros {
  position: relative;
}

.roteiros h2,
.seguros h2 {
  text-align: center;
  font-size: 2.2rem;
}

.roteiros p,
.seguros p {
  text-align: center;
  font-size: 1rem;
}

.roteiro-word {
  position: absolute;
  left: 20%;
  top: 100px;
}

.seguros-word {
  position: absolute;
  left: 20%;
  top: 100px;
}

.roteiro-viagem h2:hover {
  border-bottom: solid 3px;
}

@media (max-width: 1100px) {
  .roteiro-word {
    position: absolute;
    left: 15%;
    top: 100px;
  }

  .seguros-word {
    position: absolute;
    left: 15%;
    top: 100px;
  }
}

@media (max-width: 950px) {
  .roteiro-viagem {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .roteiro-viagem img{
    height: 250px;
  }
  .roteiros h2,
  .seguros h2 {
    text-align: left;
  }
  .roteiros p,
  .seguros p {
    text-align: left;
  }
  .roteiro-word {
    position: absolute;
    left: 10px;
    top: 100px;
  }
  .seguros-word {
    position: absolute;
    left: 10px;
    top: 100px;
  }
  .roteiro-viagem h2:hover {
    border-bottom: none;
  }
}
